$basiccolor:#020046;
$mainfont:#020450;
$snowcolor:#fff;
$main_width:1020px;
$border-radious:150px;
$font-seren:Serendipity,sans-serif;

    
body {
    font-family: 'Times New Roman', Times, serif;
}

// メリークリスマスアニメーション
// Config: fonts
// Config: Ease
$ease-cb: cubic-bezier(.19,1,.22,1);

//--------------------------
//  nth-trans-delay()
//  @description: Transition Delay on nth-childs
//  @param: $delay_items: [7]    - number of nth-of-type items to create
//  @param: $delay_time:[1.5s]   - transition-dealy value
//--------------------------
@mixin nth-trans-delay($delay_items: 7, $delay_time: 0.2s){
@for $i from 1 through $delay_items {
  &:nth-child(#{$i}) {   
   transition-delay: $delay_time * $i; 
  }
 }
}

//--------------------------
//  nth-ani-delay()
//  @description: Animation Delay on nth-childs
//  @param: $delay_items: [7] - number of nth-of-type items to create
//  @param: $delay_time:[1.5s] - transition-dealy value
//--------------------------
@mixin nth-ani-delay($delay_items: 7, $delay_time: 0.2s){
@for $i from 1 through $delay_items {
  &:nth-child(#{$i}) {   
   animation-delay: $delay_time * $i; 
  }
 }
}
//--------------------------
//  bg-overlay()
//  @description:pseduo overlay element  
//  @param: $bg_hex: [$color-dark] - hex value for rgba conversion
//  @param: $bg_opacity:[1] - alpha transparency level
//  @param: $top_layer: element or class name for higher z-index layer
//--------------------------
@mixin bg-overlay($bg_hex: #111, $bg_opacity: 0.6, $top_layer: 'header') {
  &:after {
    z-index: 0;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba($bg_hex, $bg_opacity);
  }
  
  // Layer atop overlay
  & > #{$top_layer}{
    z-index: 2;
    position: relative;
  }
}
//Setups
*, *:before, *:after {
  box-sizing: border-box; 
}
.sep{
  border: 0;
  width: 3em;
  height: 1px;
  margin: 1em 0;
  background-color: rgba(255,255,255,0.4);
}
.mast{
  position: relative;
  display:flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: #fff;
  background-color: #111;
  @include bg-overlay(#111, 0.9);  
  
  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: 50%;
  }
  
  &__header{
    padding: 5%;
  }
  &__title{
    font-family: $font-seren;
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: 1em;
  }
  // Letter animation
  &__title span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(25, 0.05s);
  }
  //Letter animation
  &__text{
    font-family: $font-seren;
    font-size: 1.5em;
    margin: 0 0 0.5em;
    line-height: 1.5;
    white-space: pre;
  }
  
  &__text span{
    animation: letter-glow 0.7s 0s ease both;
    @include nth-ani-delay(180, 0.05s);
  }
}


// Letter Glow
@keyframes letter-glow{
  0%   { opacity: 0; text-shadow: 0px 0px 1px rgba(255,255,255,0.1)}
  66%  { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.9) }
  77%   { opacity: .7 ;  }
  100% { opacity: 1; text-shadow: 0px 0px 20px rgba(255,255,255,0.0)}
}

    /* ハンバーガーメニュー */
#nav-toggle {
    position: fixed;
    top: 25px;
    right: 25px;
    height: 32px;
    cursor: pointer;
  }
  #nav-toggle > div {
    position: relative;
    width: 36px;
  }
  #nav-toggle span {
    width: 100%;
    height: 3px;
    left: 0;
    display: block;
    border:1px solid #333;
    background:$snowcolor;
    position: absolute;
    transition: transform 0.6s ease-in-out, top 0.5s ease;
  }
  #nav-toggle span:nth-child(1) {
    top: 0;
  }
  #nav-toggle span:nth-child(2) {
    top: 14px;
  }
  #nav-toggle span:nth-child(3) {
    top: 28px;
  }
  #nav-toggle:hover span:nth-child(1) {
    top: 4px;
  }
  #nav-toggle:hover span:nth-child(3) {
    top: 23px;
  }
  
  .open #nav-toggle span {
    background: #fff;
  }
  .open #nav-toggle span:nth-child(1) {
    top: 15px;
    transform: rotate(45deg);
  }
  .open #nav-toggle span:nth-child(2) {
    top: 15px;
    width: 0;
    left: 50%;
  }
  .open #nav-toggle span:nth-child(3) {
    top: 15px;
    transform: rotate(-45deg);
  }
  
  nav {
    padding-top: 300px;
  }
  
  /* z-index */
  #nav-toggle {
    z-index: 1000;
  }
  
  #container {
    z-index: 900;
  }
  
  #gloval-nav {
    background: #000;
    color: #fff;
    position: fixed;
    top: 0;
    /* left: 0; */
    right: 0;
    bottom: 0;
    z-index: 990;
    text-align: center;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
    opacity: 0.8;
    transition: opacity 0.6s ease, visibility 0.6s ease;
    width:20%;
    overflow: auto;
   -webkit-overflow-scrolling: touch;
  }
  
  #gloval-nav a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 1px 0;
    transition: color 0.6s ease;
  }
  #gloval-nav a:hover {
    color: #666;
  }
  #gloval-nav ul {
    list-style: none;
  }
  #gloval-nav ul li {
    opacity: 0;
    transform: translateX(200px);
    transition: transform 0.6s ease, opacity 0.2s ease;
    margin-top:20%;
  }
  #gloval-nav ul li:nth-child(2) {
    transition-delay: 0.15s;
  }
  #gloval-nav ul li:nth-child(3) {
    transition-delay: 0.3s;
  }
  #gloval-nav ul li:nth-child(4) {
    transition-delay: 0.45s;
  }
  #gloval-nav ul li:nth-child(5) {
    transition-delay: 0.6s;
  }
  #gloval-nav ul li:nth-child(6) {
    transition-delay: 0.75s;
  }
  #gloval-nav ul li:nth-child(7) {
    transition-delay: 0.9s;
  }
  #gloval-nav ul li:nth-child(8) {
    transition-delay: 1.00s;
  }
  #gloval-nav ul li:nth-child(9) {
    transition-delay: 1.15s;
  }
  #gloval-nav ul li:nth-child(10) {
    transition-delay: 1.45s;
  }
  #gloval-nav ul li:nth-child(11) {
    transition-delay: 1.6s;
  }
  
  #hr {
    padding: 0 0 50px;
      margin: 0 0 50px;
      border-bottom: 1px dotted #fff;
  }
  
  .menu {
    margin-bottom:20%;
  }
  
  /* open */
  .open {
    overflow: hidden;
  }
  .open #gloval-nav {
    visibility: visible;
    /* opacity: 1; */
  }
  .open #gloval-nav li {
    opacity: 1;
    transform: translateX(0);
    transition: transform 1s ease, opacity 0.9s ease;
  }
  
  /* ここまで */
  

    .christmas .christmas-top {
        position: absolute;
        height: 100vh;
    }

    .christmas .section {
        width: 100%;
        height: auto;
        background: #fff;
        position: relative;
    }

    .christmas .christmas-top__movie {
        width: 100vw;
        height: auto;
        top:0;
    }

    .christmas-top__movie:before{
    content: '';
    display: block;
    background: url(./img/golden_dots_m.png);
    position: absolute;
    z-index: 10;
    width: 100vw;
    height: 100%;
    animation: 8s fadeIn;
    }

    .christmas .christmas-top {
        position: relative;
        height: 100vh;
    }
    .christmas .christmas-top__head {
        font-size: 100px;
        font-size: 5rem;
        text-align: center;
        color: #fff;
        z-index: 20;
        position: absolute;
        font-weight: 100;
        width: 100%;
        top: 30%;
    }

    .video {
        width:100vw;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }

    h1 {
        font-size:1.5em;
        text-align: center;
    }

    .christmas_description {
        color:$mainfont;
        margin:10% 0;
        text-shadow:2px 2px 3px rgb(138, 136, 136) ; 
        font-size: 1.5em;
    }

    .wrap_top {
        background-color: $mainfont;
    }

    .items {
        height:100%;
        padding: 5%;
        max-width:1200px;
        margin: 0 auto;
    }

    .snowline {
        margin:10% auto;
        background: url(./img/snowflake.png);
        background-repeat: repeat-x;
        height:150px;
    }

    .rubi {
        color:$snowcolor;
        text-align: center;
        font-size: 2em;
    }

    ruby > rt {
      display: block;
      font-size: 30%;
      text-align:center;
  }
    .title {
        @extend .rubi;
        font-size: 5em;
        padding-bottom:5%;
    }

    .submenu {
        @extend.rubi;
        display:flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 auto;
        padding-bottom:10%;
    }

    .menu_title, .s_rubi{
        width:400px;
        font-size: 1em;
        padding:3% 0% 2% 0%;
        // color:$mainfont;
        // background-color: $snowcolor;
        border-radius: 150px;
        margin:3%;
    }

    .wrapping {
        max-width:750px;
        margin:0 auto;
      }
      
      .pic {
        border-radius: 150px;
        margin:10%;
      }

      .phrase {
          @extend .rubi;
          font-size: 2em;
          margin:10% 0;
      }

      small {
          @extend .rubi;
          font-size:.5em;
      }

      .forsomeone {
          max-width:$main_width;
          margin: 20% auto;
      }

      .someone_contents {
          display: flex;
          margin-bottom:10%;
      }

      .person_pic {
          border-radius: $border-radious;
      }

      .right_phrase {
        word-wrap: break-word;
        margin: 30% 50px;
        font-size: 1.5em;
      }

      #ladies_rubi,#ladies {
        color: #A40505;
        text-align: center;
      }

      #ladies_rubi,#mens_rubi,#myself {
          font-size:1.5em;
      }

      #mens_rubi,#mens {
        color:#080154;
        text-align: center;
      }

      #myself_rubi,#myself {
          color: #05A46A;
          text-align: center;
      }

      #ladies,#mens,#myself {
          font-size: 8em;
      }

      .person_pic {
          margin-top:20%;
      }

      .categories {
          font-size: 5em;
          color:$mainfont;
          display: flex;
          align-items: center;
          margin-top: 20%;
      }

      .categories:before,.categories:after {
          content:"";
          flex-grow: 1;
          height:2px;
          background: #000;
          display: block;
          margin:10%  0 ;
      }

      .categories:before {
          margin-right:.4em;
      }

      .categories:after {
        margin-left:.4em;
      }


      .chiristmas_items_ul {
        display: flex;
        flex-wrap: wrap;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom:10%;
      }

      .chiristmas_items_li {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 30px;
        width: 30%;
        margin: 0 0 50px 0;
      }

      .chiristmas_items_a {
        font-family: "URWClassicoRegular", sans-serif;
        font-size: 1em;
        line-height: 1.8;
        text-align: center;
      }

      .item_name {
        padding:10% 0;
        font-size:1.5em;
        
      }

      .chiristmas_items_img {
          width:100%;
      }

      .morebutton {
          background-color:#034f1b ;
          text-align: center;
          padding:3%;
          border-radius: $border-radious;
          width:300px;
          margin: 0 auto;
          box-shadow:2px 2px 10px rgb(77, 77, 77);
      }

      .moreletter {
          font-family: "URWClassicoRegular", sans-serif;
          font-size: 1.5em;
          color:$snowcolor;
      }

      #lastmore {
          margin-bottom: 40%;
      }

      #page-top {
        position: fixed;
        bottom: 50px;
        right: 30px;
        font-size: 77%;
        width:150px;
      }
      #page-top a {
        text-decoration: none;
        color: #000;
        width: 100px;
        padding: 30px 0;
        text-align: center;
        display: block;
        border-radius: 5px;
      }
      #page-top a:hover {
        text-decoration: none;
      }
      .xmastree {
        width:100px;
        }
      #smp_footerframe {
        display:none;
    }

  .menu_title {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .details {
    width: 400px;
    font-size: 1em;
    padding: 5% 0% 4% 0%;
    color: $basiccolor;
    background-color: $snowcolor;
    border-radius: 150px;

  }

  .details:hover {
    border-top: none;
    background:#000;
    color:#fff;
    opacity:1;
    border:none;
    -webkit-animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    -moz-animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: simple_square_btn8 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

  a .details:hover{
    opacity:1;
  }

   a{
    display:block;
    color:$snowcolor;
    text-decoration:none;
    -webkit-transition:all .5s cubic-bezier(.315,.04,0,.99);
    transition:all .5s cubic-bezier(.315,.04,0,.99)
  }
  @-webkit-keyframes simple_square_btn8{
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @-moz-keyframes simple_square_btn8{
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
    }
  }
  @keyframes simple_square_btn8 {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(-5px);
              transform: translateY(-5px);
      }
    }

      @media screen and (max-width:768px) {
        .mast__text {
          font-size: 1em;
        }
        .xmastree {
        width:60px;
        }
        #gloval-nav {
        width: 60%;
        font-size: 1em;
        }
        #page-top {
        position: fixed;
        bottom: 80px;
        right: 50px;
        font-size: 75%;
        width:50px;
        }
        #page-top a {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        }
        nav {
        padding-top: 100%;
        }
        #gloval-nav ul li {
            margin-top:0%;
        }
        .christmas .christmas-top__movie video {
            width: auto;
            height: 100vh;
            overflow: hidden;
            }
        .christmas .christmas-top__movie {
            overflow: hidden;
            left: 0%;
        }
        .christmas .christmas-top__head {
           font-size:3.5em;
        }
        .christmas_description {
            font-size:.8em;
        }
        .rubi {
            font-size:1em;
        }
        .menu_title {
          width:300px;
        }
        .details {
            width:300px;
            font-size:1.8em;
        }
        .title {
            font-size:3em;
            padding-bottom:10%;
        }
        .phrase {
            font-size:1.3em;
        }
        small {
            font-size:.5em;
        }
        .pic {
            width:80%;
        }
        #ladies,#mens,#myself {
            font-size:4.5em;
        }
       .someone_contents{
           flex-direction: column;
           width:100%;
           box-sizing: border-box;
       }
       .left_pic {
        margin: 0 20%;
       }
       .person_pic {
        width:100%;
       }
       .right_phrase {
        margin: 20% 50px;
        font-size: 1.2em;
        text-align: center;
       }
       .categories {
        font-size:3em;
       }
       .chiristmas_items_li {
        width: 40%;
        padding:0px;
       }
       .item_name {
           font-size:1em;
       }
       #pc_footerframe {
           display:none;
       }
         }



    
    
  

