@charset "UTF-8";
body {
  font-family: 'Times New Roman', Times, serif;
}

span {
  font-family: Serendipity,sans-serif;
  font-size:1.2em;
}

/* ハンバーガーメニュー */
#nav-toggle {
  position: fixed;
  top: 25px;
  right: 25px;
  height: 32px;
  cursor: pointer;
}

#nav-toggle > div {
  position: relative;
  width: 36px;
}

#nav-toggle span {
  width: 100%;
  height: 1px;
  left: 0;
  display: block;
  background: #333;
  position: absolute;
  -webkit-transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
  transition: top 0.5s ease, -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, top 0.5s ease;
  transition: transform 0.6s ease-in-out, top 0.5s ease, -webkit-transform 0.6s ease-in-out;
}

#nav-toggle span:nth-child(1) {
  top: 0;
}

#nav-toggle span:nth-child(2) {
  top: 14px;
}

#nav-toggle span:nth-child(3) {
  top: 28px;
}

#nav-toggle:hover span:nth-child(1) {
  top: 4px;
}

#nav-toggle:hover span:nth-child(3) {
  top: 23px;
}

.open #nav-toggle span {
  background: #fff;
}

.open #nav-toggle span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.open #nav-toggle span:nth-child(2) {
  top: 15px;
  width: 0;
  left: 50%;
}

.open #nav-toggle span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

nav {
  padding-top: 300px;
}

/* z-index */
#nav-toggle {
  z-index: 1000;
}

#container {
  z-index: 900;
}

#gloval-nav {
  background: #000;
  color: #fff;
  position: fixed;
  top: 0;
  /* left: 0; */
  right: 0;
  bottom: 0;
  z-index: 990;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
  opacity: 0.8;
  -webkit-transition: opacity 0.6s ease, visibility 0.6s ease;
  transition: opacity 0.6s ease, visibility 0.6s ease;
  width: 20%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

#gloval-nav a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 1px 0;
  -webkit-transition: color 0.6s ease;
  transition: color 0.6s ease;
}

#gloval-nav a:hover {
  color: #666;
}

#gloval-nav ul {
  list-style: none;
}

#gloval-nav ul li {
  opacity: 0;
  -webkit-transform: translateX(200px);
          transform: translateX(200px);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.6s ease;
  transition: transform 0.6s ease, opacity 0.2s ease;
  transition: transform 0.6s ease, opacity 0.2s ease, -webkit-transform 0.6s ease;
  margin-top: 20%;
}

#gloval-nav ul li:nth-child(2) {
  -webkit-transition-delay: 0.15s;
          transition-delay: 0.15s;
}

#gloval-nav ul li:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#gloval-nav ul li:nth-child(4) {
  -webkit-transition-delay: 0.45s;
          transition-delay: 0.45s;
}

#gloval-nav ul li:nth-child(5) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

#gloval-nav ul li:nth-child(6) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}

#gloval-nav ul li:nth-child(7) {
  -webkit-transition-delay: 0.9s;
          transition-delay: 0.9s;
}

#gloval-nav ul li:nth-child(8) {
  -webkit-transition-delay: 1.00s;
          transition-delay: 1.00s;
}

#gloval-nav ul li:nth-child(9) {
  -webkit-transition-delay: 1.15s;
          transition-delay: 1.15s;
}

#gloval-nav ul li:nth-child(10) {
  -webkit-transition-delay: 1.45s;
          transition-delay: 1.45s;
}

#gloval-nav ul li:nth-child(11) {
  -webkit-transition-delay: 1.6s;
          transition-delay: 1.6s;
}

#hr {
  padding: 0 0 50px;
  margin: 0 0 50px;
  border-bottom: 1px dotted #fff;
}

.menu {
  margin-bottom: 20%;
}

/* open */
.open {
  overflow: hidden;
}

.open #gloval-nav {
  visibility: visible;
  /* opacity: 1; */
}

.open #gloval-nav li {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: opacity 0.9s ease, -webkit-transform 1s ease;
  transition: opacity 0.9s ease, -webkit-transform 1s ease;
  transition: transform 1s ease, opacity 0.9s ease;
  transition: transform 1s ease, opacity 0.9s ease, -webkit-transform 1s ease;
}

/* ここまで */
.christmas .christmas-top {
  position: relative;
  height: 100vh;
}

.christmas .section {
  width: 100%;
  height: auto;
  background: #fff;
  position: relative;
}

.christmas .christmas-top__movie {
  width: 100vw;
  height: auto;
  top: 0;
}

.christmas-top__movie:before {
  content: '';
  display: block;
  background: url(./img/golden_dots_m.png);
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100%;
  -webkit-animation: 5s fadeIn;
          animation: 5s fadeIn;
}

.christmas .christmas-top {
  position: relative;
  height: 100vh;
}

.christmas .christmas-top__head {
  font-size: 100px;
  font-size: 5rem;
  text-align: center;
  color: #fff;
  z-index: 20;
  position: absolute;
  font-weight: 100;
  width: 100%;
  top: 30%;
}

.video {
  width: 100vw;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  font-size: 1.5em;
  text-align: center;
}

.christmas_description {
  color: #020450;
  margin: 10% 0;
  text-shadow: 2px 2px 3px #8a8888;
  font-size: 1.5em;
}

.wrap_top {
  background-color: #020450;
}

.items {
  height: 100%;
  padding: 5%;
  max-width: 1200px;
  margin: 0 auto;
}

.snowline {
  margin: 10% auto;
  background: url(./img/snowflake.png);
  background-repeat: repeat-x;
  height: 150px;
}

.rubi, .title, .submenu, .phrase, small {
  color: #fff;
  text-align: center;
  font-size: 2em;
}

.title {
  font-size: 5em;
  padding-bottom: 5%;
}

.submenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 10%;
}

.menu_title, .s_rubi {
  width: 400px;
  font-size: 1em;
  padding: 3% 0% 2% 0%;
  color: #020450;
  background-color: #fff;
  border-radius: 150px;
  margin: 5%;
}

.wrapping {
  max-width: 750px;
  margin: 0 auto;
}

.pic {
  border-radius: 150px;
  margin: 10%;
}

.phrase {
  font-size: 2em;
  margin: 10% 0;
}

small {
  font-size: .5em;
}

.forsomeone {
  max-width: 1020px;
  margin: 20% auto;
}

.someone_contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10%;
}

.person_pic {
  border-radius: 150px;
}

.right_phrase {
  word-wrap: break-word;
  margin: 30% 50px;
  font-size: 1.5em;
}

#ladies_rubi, #ladies {
  color: #A40505;
  text-align: center;
}

#ladies_rubi, #mens_rubi, #myself {
  font-size: 1.5em;
}

#mens_rubi, #mens {
  color: #080154;
  text-align: center;
}

#myself_rubi, #myself {
  color: #05A46A;
  text-align: center;
}

#ladies, #mens, #myself {
  font-size: 8em;
}

.person_pic {
  margin-top: 20%;
}

.categories {
  font-size: 5em;
  color: #020450;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20%;
}

.categories:before, .categories:after {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 2px;
  background: #000;
  display: block;
  margin: 10%  0;
}

.categories:before {
  margin-right: .4em;
}

.categories:after {
  margin-left: .4em;
}

.chiristmas_items_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 10%;
}

.chiristmas_items_li {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0 30px;
  width: 30%;
  margin: 0 0 50px 0;
}

.chiristmas_items_a {
  font-family: "URWClassicoRegular", sans-serif;
  font-size: 1em;
  line-height: 1.8;
  text-align: center;
}

.item_name {
  padding: 10% 0;
  font-size: 1.5em;
}

.chiristmas_items_img {
  width: 100%;
}

.morebutton {
  background-color: #034f1b;
  text-align: center;
  padding: 3%;
  border-radius: 150px;
  width: 300px;
  margin: 0 auto;
  -webkit-box-shadow: 2px 2px 10px #4d4d4d;
          box-shadow: 2px 2px 10px #4d4d4d;
}

.moreletter {
  font-family: "URWClassicoRegular", sans-serif;
  font-size: 1.5em;
  color: #fff;
}

#lastmore {
  margin-bottom: 40%;
}

#page-top {
  position: fixed;
  bottom: 50px;
  right: 100px;
  font-size: 77%;
  width: 90px;
}

#page-top a {
  background: -webkit-gradient(linear, left top, left bottom, from(#d6e3ff), color-stop(70%, #cdfffd), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(180deg, #d6e3ff 0%, #cdfffd 70%, #fff 50%, #fff 100%);
  text-decoration: none;
  color: #000;
  width: 100px;
  padding: 30px 0;
  text-align: center;
  display: block;
  border-radius: 5px;
}

#page-top a:hover {
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#d6e3ff), color-stop(70%, #cdfffd), color-stop(50%, #fff), to(#fff));
  background: linear-gradient(180deg, #d6e3ff 0%, #cdfffd 70%, #fff 50%, #fff 100%);
}

#smp_footerframe {
  display: none;
}

@media screen and (max-width: 768px) {
  .xmastree {
    width: 60px;
  }
  #gloval-nav {
    width: 60%;
    font-size: 1em;
  }
  #page-top {
    position: fixed;
    bottom: 150px;
    right: 10px;
    font-size: 75%;
  }
  #page-top a {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  nav {
    padding-top: 30%;
  }
  #gloval-nav ul li {
    margin-top: 0%;
  }
  .christmas .christmas-top__movie video {
    width: auto;
    height: 100vh;
    overflow: hidden;
  }
  .christmas .christmas-top__movie {
    overflow: hidden;
    left: 0%;
  }
  .christmas .christmas-top__head {
    font-size: 3.5em;
  }
  .christmas_description {
    font-size: .8em;
  }
  .rubi, .title, .submenu, .phrase, small {
    font-size: 1em;
  }
  .menu_title, .s_rubi {
    width: 300px;
    font-size: 1.8em;
  }
  .title {
    font-size: 3em;
    padding-bottom: 10%;
  }
  .phrase {
    font-size: 1.3em;
  }
  small {
    font-size: .5em;
  }
  .pic {
    width: 80%;
  }
  #ladies, #mens, #myself {
    font-size: 4.5em;
  }
  .someone_contents {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .left_pic {
    margin: 0 20%;
  }
  .person_pic {
    width: 100%;
  }
  .right_phrase {
    margin: 20% 50px;
    font-size: 1.2em;
    text-align: center;
  }
  .categories {
    font-size: 3em;
  }
  .chiristmas_items_li {
    width: 40%;
    padding: 0px;
  }
  .item_name {
    font-size: 1em;
  }
  #pc_footerframe {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */